In [57]:
import math as m
print(m.exp(-200))
print(m.log(100,2))
print(m.cos(30))
print(m.sin(30))
print(m.sqrt(361))
print(m.ceil(23.4))
print(m.floor(23.4))

1.3838965267367376e-87
6.643856189774725
0.15425144988758405
-0.9880316240928618
19.0
24
23

In [11]:
import random as r
print(r.random())
print(r.random())
print(round(r.random(),4))
print(round(r.random(),6))

0.408245380388792
0.9907177545668192
0.3873
0.889063

In [23]:
import random as r
print(r.randint(1,100))
print(r.randint(-1,1))
print(r.uniform(1,100))
print(round(r.uniform(1,100),3))

6
-1
76.6097568700413
26.166

In [33]:
import random as r
A = [1,2,3,4,5,6,7,8,9,10]
print(r.sample(A,2))
print(r.sample(A,9))
print(r.sample(range(10,100),5))

[6, 1]
[7, 4, 6, 10, 8, 1, 9, 3, 5]
[90, 69, 50, 92, 83]

In [49]:
import string as s
import random as r

password = r.sample(s.ascii_letters,6)
print (password)

password1  = "".join(password)
print(password1)

password2 = "++".join(password)
print(password2)

['I', 'B', 'R', 'F', 'n', 'A']
IBRFnA
I++B++R++F++n++A

In [61]:
import random as r
import string as s

otp = r.sample(s.digits,6)
print(otp)

otp1 = "".join(otp)
print(otp1)

otp2 = "_".join(otp)
print(otp2)

['1', '9', '4', '5', '3', '7']
194537
1_9_4_5_3_7

In [63]:
import random as r
import string as s

otp = r.sample(s.digits+s.ascii_letters,6)
print(otp)

otp1 = "".join(otp)
print(otp1)

otp2 = "_".join(otp)
print(otp2)

['N', '3', '5', 'Q', '7', 'H']
N35Q7H
N_3_5_Q_7_H

In [3]:
# STRINGS

In [9]:
var = "hello world"
print(var)
print(var[0])
print(var[0:5])
print(var[-5])
print(var[-4])

hello world
h
hello
w
o

In [11]:
var = "Hello World"
print(len(var))
print(var.upper())
print(var.lower())

11
HELLO WORLD
hello world

In [15]:
name = input("enter the name: ")
age = int(input("enter the age: "))
price = float(input("enter the price: "))
s = "your name is %s ,age is %d ,price is %f" % (name.upper(),age,price)
print(s)

enter the name:  as
enter the age:  23
enter the price:  4599

your name is AS ,age is 23 ,price is 4599.000000

In [17]:
string = """ qwertyuiop asdfghjkl zxvcnmm"""
print(string)

 qwertyuiop asdfghjkl zxvcnmm

In [37]:
var  = "indian army    "
print(var)
print(len(var))
print(var.strip())
print(len(var.strip()))

indian army
15
indian army
11

In [43]:
var = " Indian,  Army  "
print(var)
print(len(var))
print(var.split())
print(var.split(' '))
print(var.split(','))

 Indian,  Army
16
['Indian,', 'Army']
['', 'Indian,', '', 'Army', '', '']
[' Indian', '  Army  ']

In [45]:
var = "indian army"
print(var.count(' '))
print(var.count('a'))
print(var.count('an'))

1
2
1

In [49]:
var  = "Indian army"
print(var[::1])
print(var[::2])
print(var[::-1])
print(var[::-2])

Indian army
Ida ry
ymra naidnI
yr adI

In [55]:
var1 = "Indian Army"
var2 = "malayalam"
var3 = "teacher"
var4 = "madam"

print(var1==var1[::-1])
print(var2==var2[::-1])
print(var3==var3[::-1])
print(var4==var4[::-1])

False
True
False
True

In [ ]:
# FIUNCTIONS

In [59]:
def add(a,b):
    c = a+b
    return c

print(add(2,4))
print(add(3,5))

6
8

In [61]:
def isprime(n):
    for i in range(2,n//2+1):
        if n%i ==0:
            return 0
    return 1

print(isprime(12))
print(isprime(47))

0
1

In [67]:
def addn(n):
    s = sum(range(n+1))
    return s

print(addn(10))
print(addn(999))

55
499500

In [73]:
def add_odd_num(n):
    s = 0
    for i in range(n+1):
        if i%2 != 0:
            s += i
    return s

print(add_odd_num(5))
print(add_odd_num(3))

9
4

In [81]:
def is_prime(n):
    if n<2 :
        return True
    for i in range(2,int(n/2)+1):
        if n%i==0 :
            return False
    return True
    
def add_odd_num(n):
    s = 0
    for i in range(2,n+1):
        if is_prime(i):
            s += i
    return s

print(add_odd_num(5))

10

In [1]:
# IF - ELSe

In [11]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
if  a > b:
	print (a," > ",b)
else:
	print (a," < ",b)

Enter First No:  2
Enter Second No:  3

2  <  3

In [13]:
n = int(input("Enter a No: "))
if  n % 2 == 0:
	print (n," is even")
else:
	print (n," is odd")

Enter a No:  3

3  is odd

In [15]:
n = int(input("Enter a No: "))
f=0
for i in range(2, n//2 + 1):
	if  n % i == 0:
		f=1
		break

if f==0:
	print ("Prime")
else:
	print ("Not Prime")

Enter a No:  27

Not Prime

In [17]:
a = input("Enter First String : ")
b = input("Enter Second String: ")

if a == b:
	print ("a == b")
elif a >= b:
	print ("a > b")
else:
	print ("a < b")

Enter First String :  qwe
Enter Second String:  edsewd

a > b

In [19]:
a = int(input("enter the 1st number:"))
b = int(input("enter the 2nd number:"))
c = int(input("enter the 3rd number:"))

if a>=b :
    if a>=c:
        print("a")
    else:
        print("c")
else :
    if b>=c:
        print("b")
    else:
        print("c")

enter the 1st number: 2
enter the 2nd number: 3
enter the 3rd number: 4

c

In [23]:
def number(n):
    sum = 0
    for i in range (0,n+1):
        if i%7==0 or i%9==0 :
            sum +=i
    for i in range (0,n+1):
        if i%63 == 0:
            sum-=i
    return sum

print(number(10))

16

In [5]:
def table(n):
    for i in range(0,11):
        print(n, "*",i,"=",i*n)

print(table(5))

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
None

In [7]:
# EXCEPTION HANDLING

In [15]:
for i in range(-5,6):
    print(100/i)

-20.0
-25.0
-33.333333333333336
-50.0
-100.0

ZeroDivisionError: division by zero

In [17]:
for i in range(-5,6):
    try:
        print(100/i)
    except:
        print("error")

-20.0
-25.0
-33.333333333333336
-50.0
-100.0
error
100.0
50.0
33.333333333333336
25.0
20.0

In [19]:
l = [1,2,3,4,5,6]
for i in range(0,8):
    try:
        print(l[i])
    except:
        print("error")

1
2
3
4
5
6
error
error

In [23]:
filename = input("enter teh file name:")
fp = open(filename)
fp.close()
print("done")

enter teh file name: skill.term

FileNotFoundError: [Errno 2] No such file or directory: 'skill.term'

In [25]:
filename = input("enter teh file name:")
try:
    fp = open(filename)
    fp.close()
except:
    print("file not found")
print("done")

enter teh file name: sd

file not found
done

In [32]:
#  LIST

In [36]:
l = ["tanmay" , "singh",20,72]
print(l)
print(len(l))

['tanmay', 'singh', 20, 72]
4

In [38]:
l = ["tanmay" , "singh",20,72]
i=0
while(i<len(l)):
    print(l[i])
    i+=1

tanmay
singh
20
72

In [40]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List: ", L)
for i in range(0, len(L)):
	print (L[i])

Original List:  ['Pratham', 'Sharma', 3.14, 3]
Pratham
Sharma
3.14
3

In [42]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
for i in L:
    print(i)

Pratham
Sharma
3.14
3

In [50]:
l = ["tanmay" ,"singh" ,20 ,72]
l.append("qwe")
print(l)

l.append(2)
print(l)

del l[0]
print(l)

['tanmay', 'singh', 20, 72, 'qwe']
['tanmay', 'singh', 20, 72, 'qwe', 2]
['singh', 20, 72, 'qwe', 2]

In [67]:
l = [1,3,5,6,8,9]
print("sum of elements of list:",sum(l))
print("average:",sum(l)/len(l))
print(sum(l)//len(l))

sum of elements of list: 32
average: 5.333333333333333
5

In [81]:
l = [2,5,3,6,78,36,46,7,9]
print(max(l))
print(min(l))
l.sort()
print(l)
l.sort(reverse=True)
print(l)

78
2
[2, 3, 5, 6, 7, 9, 36, 46, 78]
[78, 46, 36, 9, 7, 6, 5, 3, 2]

In [93]:
l1= [1,3,5,7,9]
l2= [2,4,6,8]
l3=l1+l2

print(l3)
print(l3[2:])
print(l3[1:6])
print(l3[:-1])
print(l3[::2])

[1, 3, 5, 7, 9, 2, 4, 6, 8]
[5, 7, 9, 2, 4, 6, 8]
[3, 5, 7, 9, 2]
[1, 3, 5, 7, 9, 2, 4, 6]
[1, 5, 9, 4, 8]

In [97]:
l =[1,2,3,4,5]
newl= [5*i for i in l]
print(newl)

[5, 10, 15, 20, 25]

In [103]:

L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", 6 in L)
print ("Original List --> ", 10 in L)
print ("Original List --> ", 12 in L)

if (6 in L) == True:
	print ("Present")
else:
	print ("Not Present")

if 10 in L == False:
	print ("Not Present")
else:
	print ("Present")

Original List -->  True
Original List -->  False
Original List -->  True
Present
Present

In [ ]:
# DICTIONARY

In [113]:
age={1:23,2:12,3:28}
print(age)
print(len(age))
print(age[1])
print(age[3])

{1: 23, 2: 12, 3: 28}
3
23
28

In [121]:
age={1:23,2:12,3:28}
for k in age:
    print(age[k])

print(list(age.keys()))
print(list(age.values()))

23
12
28
[1, 2, 3]
[23, 12, 28]

In [137]:
age={1:23,2:12,3:28,4:19,5:29}
age[4]=45
age[1]=25

print(age)
del(age[2])
print(age)
age.clear()
print(age)
del age

{1: 25, 2: 12, 3: 28, 4: 45, 5: 29}
{1: 25, 3: 28, 4: 45, 5: 29}
{}

In [139]:
age={1:23,2:12,3:28,4:19,5:29}
print(2 in age)
print(9 in age)

True
False

In [141]:
age={1:23,2:12,3:28,4:19,5:29}

print(age[1])
print(age[3])
print(age[5])

23
28
29

In [152]:
age={1:23,2:12,3:28,4:19,5:29}

for i in age:
    print(age[i])

print(type(age))

23
12
28
19
29
<class 'dict'>

In [145]:
# TUPLES

In [150]:
t = ("tanmay", "singh", 20, 72)
print(t)

('tanmay', 'singh', 20, 72)

In [154]:
t= tuple(["tanmay", "singh", 20, 72])
print(len(t))
print(type(t))

4
<class 'tuple'>

In [158]:
t = ("tanmay", "singh", 20, 72)
i=0
while(i<len(t)):
    print(t[i])
    i+=1

tanmay
singh
20
72

In [164]:
t = ("tanmay", "singh", 20, 72)
for i in range(0,len(t)):
    print(t[i])

tanmay
singh
20
72

In [171]:
t = ("tanmay", "singh", 20, 72)
for s in t:
    print(s)

tanmay
singh
20
72

In [173]:
t = (1,2,3,4,5,6,7,8,9,0)
print(t[1])
print(t[3])
print(t[-1])
print(t[-2])

2
4
0
9

In [183]:
t = (1,2,3,4,5,6,7,8,9,0)
print(t[1:3])
print(t[2:])
print(t[2:5])
print(t[:2])
print(t[:-1])
print(t[-4:-1])

(2, 3)
(3, 4, 5, 6, 7, 8, 9, 0)
(3, 4, 5)
(1, 2)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
(7, 8, 9)

In [193]:
t = (1,2,3,4,5,6,7,8,9,0)
print(t)
print(sum(t))
print(sum(t)/len(t))
print(sum(t)//len(t))
print(max(t))
print(min(t))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
45
4.5
4
9
0

In [199]:
t = ("tanmay", "singh", "qwer", "asd")
print(max(t))
print(min(t))

tanmay
asd

In [207]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
t3 = t2+t1
print(t3)
t4 = t3+t1+t2
print(t4)

(5, 6, 7, 8, 1, 2, 3, 4)
(5, 6, 7, 8, 1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 8)

In [209]:
t = (1,2,3,4,5,0)
print(2 in t)
print(5 in t)
print(8 in t)

True
True
False

In [213]:
t = (1,2,3,4,5,0)
t[2]=9
print(t)

TypeError: 'tuple' object does not support item assignment

In [215]:
t = (1,2,3,4,5,0)
print(t)

t1 = list(t)
t1.append("abc")
t = tuple(t1)

print(t)

(1, 2, 3, 4, 5, 0)
(1, 2, 3, 4, 5, 0, 'abc')

In [221]:
t = (1,2,3,4,5,0)
print(t)

t1 = list(t)
t1.insert(7,"abc")
t = tuple(t1)

print(t)

(1, 2, 3, 4, 5, 0)
(1, 2, 3, 4, 5, 0, 'abc')

In [223]:
t = (1,2,3,4,5,0)

del t[1]

TypeError: 'tuple' object doesn't support item deletion

In [230]:
t = (1,2,3,4,5,0)
print(t)

t1 = list(t)
del t1[0]
t = tuple(t1)

print(t)

(1, 2, 3, 4, 5, 0)
(2, 3, 4, 5, 0)

In [232]:
# SETS

In [234]:
s = set([1,2,3,1,2,3])
print(s)

{1, 2, 3}

In [248]:
a = set(["a","b","e","f"])
b = set(['a','c','d','e'])

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a-b)
print(b.difference(a))
print(b-a)
print(a.symmetric_difference(b))
print(b.symmetric_difference(a))

{'a', 'e', 'b', 'c', 'd', 'f'}
{'a', 'e'}
{'b', 'f'}
{'b', 'f'}
{'c', 'd'}
{'c', 'd'}
{'b', 'c', 'd', 'f'}
{'b', 'c', 'd', 'f'}

In [252]:
a = set(["a","b","e","f"])
print(a)
a.add("d")
print(a)
a.add("d")
print(a)
a.remove("d")
print(a)
a.pop()
print(a)
a.pop()
print(a)

{'a', 'e', 'f', 'b'}
{'a', 'e', 'b', 'd', 'f'}
{'a', 'e', 'b', 'd', 'f'}
{'a', 'e', 'b', 'f'}
{'e', 'b', 'f'}
{'b', 'f'}

In [254]:

import sys
print (sys.argv)
a = int(sys.argv[1]) 	# First Number
b = int(sys.argv[2])	# Second Number
c = a + b
print (a, " + ", b, " --> ", c)

['/opt/anaconda3/lib/python3.11/site-packages/ipykernel_launcher.py', '-f', '/Users/tanmaysingh/Library/Jupyter/runtime/kernel-e642ba53-da0e-4ca0-89e3-5c13dda647a5.json']

ValueError: invalid literal for int() with base 10: '-f'

In [262]:

import sys
print (sys.argv)
s = sys.argv[0] + " " + sys.argv[1]
print (sys.argv[1], " + ", sys.argv[2], " --> ", s)

['/opt/anaconda3/lib/python3.11/site-packages/ipykernel_launcher.py', '-f', '/Users/tanmaysingh/Library/Jupyter/runtime/kernel-e642ba53-da0e-4ca0-89e3-5c13dda647a5.json']
-f  +  /Users/tanmaysingh/Library/Jupyter/runtime/kernel-e642ba53-da0e-4ca0-89e3-5c13dda647a5.json  -->  /opt/anaconda3/lib/python3.11/site-packages/ipykernel_launcher.py -f

In [264]:
# FILE HANDLING

In [272]:
fp =open("smaple.txt",'w')
for i in range(0,11):
    fp.write(str(i) + "\n")
fp.close()
print("done")

done

In [274]:
fp = open("smaple.txt","r")
for i in fp:
    print(i.strip())
fp.close()

0
1
2
3
4
5
6
7
8
9
10

In [278]:
fp = open("sam2.txt","w")
ap = open("smaple.txt","r")
for i in ap:
    fp.write(i.upper())
fp.close()
ap.close()